.autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 0;
    list-style: none;
  }
  
  .autocomplete li {
    padding: 8px;
    cursor: pointer;
  }
  
  .autocomplete li:hover {
    background-color: #f2f2f2;
  }
  